body {background-color: white}
h2 {font-family:ariel;color:red}
p.justify {font-family:ariel;text-align:justify;font-size:11pt;color:black;margin-left:10px}
p.right {font-family:ariel;text-align:right;font-size:11pt;color:black;margin-right:10px}
hr {color:red}
